{% extends 'base.html' %}

{% block title %}Search result{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="container-md">
            <form method="get" action="/app/search/">
                <div class="input-group mb-3 w-50">
                    <span class="input-group-text">Keywords</span>
                    <input type="text" class="form-control" name="keywords" placeholder="Input keywords" value="{{ keywords }}">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>


                <label class="form-label">Filters:</label>
                <div class="input-group mb-3 w-50">
                    <span class="input-group-text">Min Reward</span>
                    <input name="minreward" class="form-control" type="number" min="0" value="0" id="minreward_range_output">
                    <div class="form-control">
                        <input type="range" class="form-range" min="0" max="{{ max_reward }}" value="0" id="minreward_range">
                    </div>
                </div>

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text">Min Reward</span>
                    <input name="maxreward" class="form-control" type="number" min="0" value="{{ max_reward }}" id="maxreward_range_output">
                    <div class="form-control">
                        <input type="range" class="form-range" min="0" max="{{ max_reward }}" value="{{ max_reward }}" id="maxreward_range">
                    </div>

                </div>

                <div class="input-group mb-3 w-25">
                    <span class="input-group-text">Hide done tasks</span>
                    <div class="input-group-text">
                        <input type="checkbox" class="form-check-input mt-0" name="hidecompleted">
                    </div>
                </div>
                <div class="input-group mb-3 w-25">
                    <span class="input-group-text">Hide unavailable tasks</span>
                    <div class="input-group-text">
                        <input type="checkbox" class="form-check-input mt-0" name="levelhide">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-md">
        <h4>Search Results:</h4>
        {% for task in tasks %}
            <div class="card" style="width: 18rem; display:inline-block; margin-top: 10px; margin-right:10px">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Reward: {{ task.reward }} Tenge</h6>
                    <p class="card-text">Created: {{ task.created_date }}</p>
                    {% if task.completed %}
                        <p class="card-text">Task Completed</p>
                    {% else %}
                        <p class="card-text">In Progress</p>
                    {% endif %}
                    <a href="{{task.id}}" class="card-link">
                        <button type="button" class="btn btn-outline-primary">Открыть</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        var minslider = document.getElementById("minreward_range");
        var minoutput = document.getElementById("minreward_range_output");
        minoutput.innerHTML = minslider.value;
        var maxslider = document.getElementById("maxreward_range");
        var maxoutput = document.getElementById("maxreward_range_output");
        maxoutput.innerHTML = maxslider.value;

        minslider.oninput = function() {
          minoutput.value = this.value;
        }
        maxslider.oninput = function() {
          maxoutput.value = this.value;
        }
    </script>
{% endblock %}