{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <div class="container-md d-flex justify-content-center" style="margin-top: 30px">
        <form method="get" action="/app/search/">
            <div class="input-group mb-3">
                <span class="input-group-text">Keywords</span>
                <input type="text" class="form-control" name="keywords" placeholder="Input keywords">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
        </form>
    </div>
    <div class="container-md">
        {% for task in tasks %}
            <div class="card" style="width: 18rem; display:inline-block; margin-top: 10px; margin-right:10px">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Награда: {{ task.reward }} Тенге</h6>
                    <p class="card-text">Создано: {{ task.created_date }}</p>
                    {% if task.completed %}
                        <p class="card-text">Занято</p>
                    {% else %}
                        <p class="card-text">Ждет исполнителя</p>
                    {% endif %}
                    <a href="{{task.id}}" class="card-link">
                        <button type="button" class="btn btn-outline-primary">Открыть</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}