{% extends 'base.html' %}

{% block title %}Update{% endblock %}
{% block content %}
    {% if user.username == username %}
        <form method="POST" action="">
            {% csrf_token %}
            Title:
            <input type="text" name="title" value="{{ title }}"><br>
            Description:
            <input type="text" name="description" value="{{ description }}"><br>
            Reward:
            <input type="number" name="reward" value="{{ reward }}"><br>
            Completed:
            {% if completed %}
                <input type="checkbox" name="completed" checked>
            {% else %}
                <input type="checkbox" name="completed">
            {% endif %}
            <br>
            <button type="submit" name="update">Update</button>
        </form>
    {% else %}
        <h2>You cannot edit this task</h2>
    {% endif %}
{% endblock %}